@font-face {
  font-family: ArcadeClassic;
  src: url('../assets/fonts/arcadeclassic.ttf');
}

:root {
  --purple: #6822e5;
  --magenta: #cf29c7;
  --dark-blue: #2e8ef2;
  --mid-blue: #6c86e7;
  --light-blue: #62a1f0;
  --green: #31af33;
  font-family: 'ArcadeClassic', sans-serif;
}

body {
  background: linear-gradient(
    to bottom right,
    var(--magenta),
    var(--purple),
    var(--dark-blue),
    var(--mid-blue),
    var(--light-blue),
    var(--green)
  );
  background: url('../assets/imgs/background.jpg') no-repeat center fixed;
  margin: 0;
}
